input:-webkit-autofill,
textarea:-webkit-autofill {
    background-color: #a2c49d9c !important;
    color: white !important;
}

input:-moz-autofill,
textarea:-moz-autofill {
    background-color: #a2c49d9c !important;
    color: white !important;
}

input,
textarea {
    transition: background-color 5000s ease-in-out 0s;
    /* Prevents auto-filled inputs from reverting to original color */
}